@media (max-width: 1025px) {

    /* header */
    header {
        padding-inline: 45px;
    }

    .header_nav {
        position: fixed;
        top: 98.4px;
        background-color: #C46A2B;
        left: -100%;
        width: 200px;
        height: 144px;
        padding: 16px 56px 16px 16px;
        transition: .5s linear;
    }

    .header_ul {
        flex-direction: column;
        row-gap: 8px;
    }

    .burger {
        display: block;
        color: #05BCCA;
    }

    .show {
        left: 0;
    }
}