/* 1439px-769px */
@media (max-width: 1025px) {

    /* header */
    header {
        padding-inline: 45px;
    }

    .header_nav {
        position: fixed;
        top: 100px;
        background-color: #C46A2B;
        left: -100%;
        width: 200px;
        height: 144px;
        padding: 16px 56px 16px 16px;
        transition: .5s linear;
    }

    .header_ul {
        flex-direction: column;
        row-gap: 8px;
    }

    .burger {
        display: block;
        color: #05BCCA;
    }

    .show {
        left: 0;
    }

    /* section2 */
    .section2_div {
        column-gap: 20px;
        overflow-x: scroll;
    }

    .index_section2 {
        padding-inline: 45px 0;
    }

    .section2_div {
        overflow-x: scroll;
    }

    .index_figure {
        flex: 1 0 298px;
    }

    /* footer */
    footer {
        padding-inline: 98px;
        column-gap: 0;
        justify-content: space-between;
    }

    /* catalog */
    .catalog_section {
        padding-inline: 45px;
    }

    .none1025 {
        display: none;
    }

    /* contact */
    .contact_section {
        padding-right: 45px;
    }
}