/* 1439px-769px */
@media (max-width: 1025px) {

    /* header */
    header {
        padding-inline: 45px;
    }

    .header_nav {
        position: fixed;
        top: 98.4px;
        background-color: #C46A2B;
        left: -100%;
        width: 200px;
        height: 144px;
        padding: 16px 56px 16px 16px;
        transition: .5s linear;
    }

    .header_ul {
        flex-direction: column;
        row-gap: 8px;
    }

    .burger {
        display: block;
        color: #05BCCA;
    }

    .show {
        left: 0;
    }

    /* section2 */
    .section2_div {
        column-gap: 20px;
        overflow-x: scroll;
    }

    /* footer */
    footer {
        padding: 48px 98px;
    }

    /* catalog */
    .catalog {
        padding-inline: 45px;
    }

    .catalog_card-section {
        padding-inline: 45px;
    }
}

/* contactis gverds verc repositori ver davuwere */