/* container */
.container {
    width: min(100%, 1440px);
    margin: auto;
    padding-top: 100px;
}

/* header */
header {
    position: fixed;
    max-width: inherit;
    width: inherit;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 16px 94px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #012426;
    border-bottom: 2px solid #05BCCA;
    z-index: 1;
}

.burger,
.xmark {
    display: none;
    color: #05BCCA;
}

.burger {
    font-size: 24px;
}

.xmark {
    font-size: 26.67px;

}

.header_ul {
    display: flex;
    column-gap: 72px;
}

.header_li_link {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #A1C3C9;
}

.header_li_link:hover {
    color: #C46A2B;
    text-shadow: 5px 5px 5px #C46A2B;
    transition: .5s linear;
}

.header_buttons {
    display: flex;
    column-gap: 32px;
}

.header_buttons button:hover {
    box-shadow: 4px 4px 1px #C46A2B, inset 4px 4px 1px #FFFFFF;
}

.header_buttons button {
    width: 40px;
    height: 40px;
    border-radius: 8px;
}

.button_border {
    border: 2px solid #05BCCA;
    background-color: transparent;
}

.button_bgColor {
    background-color: #05BCCA;
    border: none;
}

.fa-magnifying-glass {
    font-size: 12px;
    color: #05BCCA;
}

.fa-user {
    font-size: 12px;
    color: #2C4246;
    background-color: #05BCCA;
}

.fa-cart-shopping {
    font-size: 20px;
    color: #05BCCA;
}

/* index_section1  */
.index_section1 {
    height: 560px;
    background-image: url(&quot;../imiges/index1.png&quot;);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 72px;
}

.index_section_article {
    display: flex;
    align-items: center;
}

.section1_title {
    color: #FFFFFF;
    animation: opacity .7s infinite;
    text-shadow: 5px 5px 3px blue;
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.section1_span {
    color: #05BCCA;
}

.section1_button {
    width: 36px;
    border-radius: 4px;
    background-color: #C46A2B;
    font-size: 17.5px;
    color: #D9D9D9;
    border: none;
    margin-left: 24px;
    transition: .4s linear;
    cursor: pointer;
}

.section1_button:hover {
    width: 60px;
    height: 60px;
    font-size: 40px;
}

/* index_section2 */
.index_section2 {
    background-color: #1A1A1A;
    padding: 96px 94px;
}

.section2_title {
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 52px;
    color: #05BCCA;
    text-align: center;
    margin-bottom: 8px;
}

.section2_title:hover {
    color: #C46A2B;
    text-shadow: 5px 5px 5px #C46A2B;
}

.line {
    text-align: center;
    margin-bottom: 64px;
}

.section2_div {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.index_figure {
    background-color: #2C4246;
    border: 1px solid #05BCCA;
    padding: 8px 8px 16px 8px;
    flex: 1 1 298px;
    transition: .3s linear;
    cursor: pointer;
}

.index_figcaption {
    margin-block: 16px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    color: #D9D9D9;
}

.figure_img {
    width: 100%;
    height: 290px;
    object-fit: cover;
    transition: .3s linear;
}

.index_figure:hover {
    border-radius: 30px;
    box-shadow: 0px 0px 8px 4px #C46A2B;
}

.index_figure:hover .figure_img {
    border-radius: 20px 20px 20px 20px;
    filter: saturate(8);
}

.figcaption_span {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: #05BCCA;
}

.index_stars_price_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.index_stars_box {
    display: flex;
    column-gap: 4px;
}

.fa-star {
    font-size: 11.41px;
    color: #C46A2B;
}

/* footer */
footer {
    background-color: #2C4246;
    padding-block: 48px;
    display: flex;
    justify-content: center;
    column-gap: 223px;
}

.footer_title {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #D9D9D9;
    transition: .5s linear;
}

.footer_title:hover {
    color: #C46A2B;
    text-shadow: 5px 5px 5px #C46A2B;
}

.footer_right_section_ul {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    margin-top: 24px;
    transition: 1s linear;
}

.footer_right_section_a {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #D9D9D9;
}

.footer_right_section_a:hover {
    color: #05BCCA;
}

.icons_list {
    display: flex;
    column-gap: 16px;
}

.icons_list i {
    border: 2px solid #D9D9D9;
    background-color: #D9D9D9;
    color: #1A1A1A;
    font-size: 32px;
    transition: .2s linear;
    border-radius: 8px;
}

.footer_right_section_a:hover .fa-brands {
    transform: skewX(20deg);
}

/* catalog */
.catalog_section {
    padding: 96px 94px;
    background-color: #012426;
    display: flex;
    flex-direction: column;
    row-gap: 64px;
}

.catalog {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.catalog_div_section {
    display: flex;
    align-items: center;
    column-gap: 32px;
}

.catalog_div_title1,
.catalog_div_title2 {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: #D9D9D9;
}

.catalog_button {
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #A1C3C9;
    border: none;
    display: flex;
    column-gap: 33px;
}

.catalog_span {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #2C4246;
}

.fa-chevron-down {
    font-size: 15.48px;
    color: #2C4246;
}

.catalog_card_section {
    display: flex;
    background-color: #012426;
    gap: 40px 20px;
    flex-wrap: wrap;
}

.catalog_figure {
    background-color: #2C4246;
    box-shadow: 0px 0px 8px 4px #05BCCACC;
    flex: 1 1 298px;
}

.catalog_figure:hover {
    box-shadow: 0px 0px 8px 4px #C46A2B;
}

.catalog_figure_content {
    padding: 16px 8px;
}

.catalog_figcaption {
    margin-bottom: 16px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    color: #D9D9D9;
}

.catalog_figure_stars_price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.catalog_figure_stars {
    display: flex;
    column-gap: 4px;
}

.catalog_buttons {
    background-color: #012426;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 48px;
}

.catalog_button1 {
    width: 121px;
    height: 40px;
    padding: 8px;
    border-radius: 8px;
    background-color: #C46A2B;
    border: none;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #D9D9D9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.catalog_button_title {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    animation: opacity .7s infinite;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.catalog_button2 {
    width: 92px;
    height: 40px;
    padding: 8px;
    border-radius: 8px;
    border: none;
    background-color: #05BCCA;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #D9D9D9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.catalog_button1:hover {
    box-shadow: inset 5px 5px 5px #FFFFFF, inset -5px -5px 5px #05BCCA;
}

.catalog_button2:hover {
    box-shadow: inset 5px 5px 5px #FFFFFF, inset -5px -5px 5px #C46A2B;
    ;
}

.fa-chevron-left,
.fa-chevron-right {
    font-size: 10px;
    color: #D9D9D9;
}

/* section */
.contact_section {
    height: 720px;
    background-image: url(../imiges/contactis\ foto.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 94px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.contact_section_dashbord {
    width: 616px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.contact_section_title {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: #FFFFFF;
}

.contact_box {
    padding: 35px 40px;
    background-color: #2C4246;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gmail_call_box {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.contact_box_title {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.contact_box_title i {
    font-size: 20px;
    color: #D9D9D9;
}

.contact_box_span {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #D9D9D9;
}

.form_and_map_section {
    display: flex;
    column-gap: 40px;
}

form {
    width: 290px;
}

.input_box {
    display: flex;
    column-gap: 8px;
}

input {
    width: 100%;
    height: 32px;
    padding-left: 8px;
    background-color: #2C4246;
    border: none;
}

::placeholder {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #A1C3C9;
}

.input_title {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #A1C3C9;
}

textarea {
    margin-top: 16px;
    resize: none;
    background-color: #2C4246;
    width: 100%;
    height: 103px;
    padding: 6px 0 0 8px;
    border: none;
}

.textarea_title {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #A1C3C9;
}

.form_button {
    width: 100%;
    height: 40px;
    background-color: #C46A2B;
    margin-top: 24px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    border: none;
}

.iframe {
    width: 286px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

iframe {
    width: 100%;

    height: 151px;
}

.social_icons_link {
    background-color: #05BCCA;
    border-radius: 8px;
    padding: 4px;
    transition: .2s linear;
}

.social_icons_link:hover {
    transform: skew(20deg);
}

.social_icons i {
    font-size: 32px;
    color: #1A1A1A;
}